extends ~layouts/columns

block title
    | Lifecycle hooks

block content
    +slide_column()
        .dm-fragment
            :markdown-it
                ### `static getDerivedStateFromProps`

                Called right before the initial render and all re-renders. Rarely used.

                ### `getSnapshotBeforeUpdate`

                This method is to allow us to capture some properties that are not stored in the state before we render that component.
                (i.e. if user scrolled to a specific location on the page and you want to store the position and use it later)
                Called just before React updates and commits new content to the DOM. Rarely used but can capture data that may be changing rapidly

                ### `componentDidCatch`

                Called during the “commit” phase, so side-effects are permitted. It should be used for things like logging errors
    +slide_column()
        .dm-fragment
            :markdown-it
                ### `componentDidMount`

                Called after the component is rendered.
                Most useful for side effects: API calls, timers, non-React code (ie. initializing a jQuery plugin).

                ### `shouldComponentUpdate`

                There are new props or new state, but maybe there is no need to render the component again. For performance tweaking.

                ### `componentDidUpdate`

                Called right after a render. Use to update DOM in response to state/props changes.

                ### `componentWillUnmount`

                Called before the component is removed. Useful for cleanup, typically compliments the `componentDidMount`.
